html, body {
	height: 200%;
}

/** {
	outline: solid black;
}*/

.page-wrapper {
	height: 100%;
	padding: 0 100px 0 100px;
}

.top {
	height: 90px;
}

.topmost {
	height: 15px;
	display: flex;
	justify-content: space-between;
}

.media {
	height: 100%;
	width: 40px; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.media > div {
	height: 80%;
	width: 28%;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.media img {
	width: 100%;
	height: 90%;
}

.cart {
	height: 100%;
	width: 80px;
	font: 8px 'Roboto', sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart > div {
	height: 50%;

}

a {
	color: inherit;
}

a:link {
	text-decoration: none;
}

.title {
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 5px;
}

.title > img {
	height: 70%;
	margin: 0 auto;
}

.categories {
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	font: 11px 'Roboto', sans-serif;
	margin: 0 auto;

}

.two {
	height: 400px;
}

.upper {
	height: 200px;
}

.upper-left {
	position: relative;
	height: 100%;
	width: 50%;
	float: left;
	overflow: hidden;
	/*background-image: url(http://cdn3.bigcommerce.com/s-7qjou8f/product_images/uploaded_images/about-photo.png?t=1433751876);
	background-size: contain;*/
}

.upper-left img {
	width: 100%;
	height: auto;
}

/*.upper-left:after {
	position: absolute;
	content: "";
	width: 200px;
	height: 200px;
	border-top: 200px solid red;
	border-right: 60px solid transparent;
	z-index: 1;
}*/

.upper-right {
	position: relative;
	height: 100%;
	width: 50%;
	float: left;
	overflow: hidden;
}
	
.upper-right img {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -1;
}

.lower {
	height: 200px;
	/*display: block;*/
}

.lower-left {
	height: 100%;
	width: 50%;
	float: left;
	/*background-image: url(http://cdn3.bigcommerce.com/s-7qjou8f/product_images/uploaded_images/about-photo.png?t=1433751876);
	background-size: contain;*/
	font: bold 11px 'Roboto', sans-serif;
	overflow: hidden;
	position: relative;
}

.lower-left img {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -1;
}

.empowering {
	line-height: 6px;
	position: relative;
	right: -120px;
	top: 35px;
}

/*.empowering p {
	line-height: 8px;
}*/

.creating-change{
	font-size: 14px;
	/*position: absolute;*/
	position: relative;
	right: -95px;
	top: 35px;
}

.lower-right {
	height: 100%;
	width: 50%;
	float: left;
	overflow: hidden;
	/*background-image: url(http://cdn3.bigcommerce.com/s-7qjou8f/product_images/uploaded_images/about-photo.png?t=1433751876);
	background-size: contain;*/
}

.lower-right img {
	width: 100%;
	height: auto;
}

button {
	border: none;
	padding: 6px 15px 6px 15px;
	font: bold 12px 'Roboto', sans-serif;
	color: white;
	border-radius: 5px;
	z-index: 1;
	position: absolute;
}

.red-orange {
	background-color: #DE5B40;
	position: relative;
	top: 125px;
	right: -76px;
}

.seafoam-green {
	background-color: #69D6BF;
	position: relative;
	bottom: -40px;
	right: -115px;
}

.three {
	height: 100px;
	width: 75%;
	margin: 20px auto 10px;
}

.three > div {
	/*margin: 10px;*/
}

.featured-in {
	text-align: center;
	font: bold 11px 'Roboto', sans-serif;
}

.logos-row-one {
	display: flex;
	justify-content: space-around;
}

.logos-row-one div {
	margin-top: 5px;
	height: 40px;
	width: 20%;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.logos-row-one img {
	height: auto;
	width: 100%;
}

.logos-row-two {
	display: flex;
	justify-content: space-around;
}

.logos-row-two div {
	height: 40px;
	width: 20%;
	display: flex;
	align-items: center;
}

.logos-row-two img {
	height: 100%;
	width: 100%;
}

.four {
	height: 600px;
	width: 80%;
	margin: 0 auto 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
}

.row > div {
	height: 190px;
	width: 48.5%;
	display: inline-block;
	overflow: hidden;
}

.row div img {
	height: 100%;
	width: auto;
	margin: 10px;
}

.five {
	height: 100px;
}

.shop-for-summer {
	height: 30%;
	width: 35%;
	text-align: center;
	font: 16px 'Roboto', sans-serif;
	margin: 0 auto 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid black;
}

.icons-again {
	height: 20%;
	display: flex;
	justify-content: space-between;
}

.icons-again > div {
	margin: 0 auto;
}

.bottom-nav {
	height: 40%;
	background-color: #909090;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font: 8px 'Roboto Condensed', sans-serif;
	color: white;
	margin: 10px;
	padding: 0 35px 0 35px;
}