html, body {
	height: 100%;
}

/** {
	outline: 2px solid red;
}
*/

.page-wrapper {
	height: 100%;
	padding: 0 15em 0 15em;
}

.top {
	height: 10em;
}

.topmost {
	height: 2em;
	display: flex;
	justify-content: space-between;
}

.media {
	height: 100%;
	width: 4em; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.media > div {
	height: 80%;
	width: 28%;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.media img {
	width: 100%;
	height: 90%;
}

.cart {
	height: 100%;
	width: 10em;
	font: .8em 'Roboto', sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart > div {
	height: 50%;

}

a {
	color: inherit;
}

a:link {
	text-decoration: none;
}

.title {
	height: 5em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: -1em;
}

.title > img {
	height: 70%;
	margin: 0 auto;
}

.categories {
	height: 5em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60%;
	font: 1em 'Roboto', sans-serif;
	margin: 0 auto;

}

.two {
	height: 40em;
}

.upper {
	height: 26.5em;
}

.upper-left {
	position: relative;
	height: 100%;
	width: 50%;
	float: left;
	overflow: hidden;
	/*background-image: url(http://cdn3.bigcommerce.com/s-7qjou8f/product_images/uploaded_images/about-photo.png?t=1433751876);
	background-size: contain;*/
}

.upper-left img {
	width: 100%;
	height: auto;
}

/*.upper-left:after {
	position: absolute;
	content: "";
	width: 200px;
	height: 200px;
	border-top: 200px solid red;
	border-right: 60px solid transparent;
	z-index: 1;
}*/

.upper-right {
	position: relative;
	height: 100%;
	width: 50%;
	float: left;
	font: bold 1.3em 'Roboto', sans-serif;
	overflow: hidden;
}
	
.upper-right img {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -1;
}

.lower {
	height: 26.5em;
	/*display: block;*/
}

.lower-left {
	height: 100%;
	width: 50%;
	float: left;
	/*background-image: url(http://cdn3.bigcommerce.com/s-7qjou8f/product_images/uploaded_images/about-photo.png?t=1433751876);
	background-size: contain;*/
	font: bold 1.3em 'Roboto', sans-serif;
	overflow: hidden;
	position: relative;
}

.lower-left img {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -1;
}

.empowering {
	line-height: .7em;
	position: relative;
	right: -10.5em;
	top: 2.5em;
}

/*.empowering p {
	line-height: 8px;
}*/

.creating-change{
	font-size: 1.4em;
	/*position: absolute;*/
	position: relative;
	right: -5.3em;
	top: 1.9em;
}

.lower-right {
	height: 100%;
	width: 50%;
	float: left;
	overflow: hidden;
	position: relative;
	/*background-image: url(http://cdn3.bigcommerce.com/s-7qjou8f/product_images/uploaded_images/about-photo.png?t=1433751876);
	background-size: contain;*/
}

.lower-right img {
	position: absolute;
	width: 100%;
	height: auto;
}

.button {
	border: none;
	padding: .8em 2em .8em 2em;
	font: bold 1.1em 'Roboto', sans-serif;
	color: white;
	border-radius: .5em;
	z-index: 1;
	position: absolute;
}

.red-orange {
	background-color: #DE5B40;
	position: relative;
	top: 10em;
	right: -5.5em;

}

.seafoam-green {
	background-color: #69D6BF;
	position: relative;
	bottom: -2.6em;
	left: 8.7em;
}

.three {
	height: 10em;
	width: 80%;
	margin: 5em auto 1em;
}

.three > div {
	/*margin: 10px;*/
}

.featured-in {
	text-align: center;
	font: bold 1em 'Roboto', sans-serif;
}

.logos-row-one {
	display: flex;
	justify-content: space-around;
}

.logos-row-one div {
	margin-top: 1em;
	height: 4em;
	width: 20%;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.logos-row-one img {
	height: auto;
	width: 100%;
}

.logos-row-two {
	display: flex;
	justify-content: space-around;
}

.logos-row-two div {
	height: 4em;
	width: 20%;
	display: flex;
	align-items: center;
}

.logos-row-two img {
	height: 100%;
	width: 100%;
}

.four {
	height: 82em;
	width: 80%;
	margin: 10em auto 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1em;
}

.row > div {
	height: 27em;
	width: 48.5%;
	display: inline-block;
	overflow: hidden;
}

.row div img {
	height: 100%;
	width: auto;
	margin: 1.4em;
}

.five {
	height: 12em;
}

.shop-for-summer {
	height: 30%;
	width: 35%;
	text-align: center;
	font: 1.6em 'Roboto', sans-serif;
	margin: 0 auto .5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: .05em solid black;
}

.icons-again {
	height: 20%;
	display: flex;
	justify-content: space-between;
}

.icons-again > div {
	margin: 0 auto;
}

.bottom-nav {
	height: 35%;
	background-color: #909090;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font: .8em 'Roboto Condensed', sans-serif;
	color: white;
	margin: 1em;
	padding: 0 7em 0 7em;
}